<!-- Mobile Menu start -->
<div class="mobile-menu-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul class="mobile-menu-nav">
                            
                            
                            <li><a data-toggle="collapse" data-target="#demopro" href="#">Học viên <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul id="demopro" class="collapse dropdown-header-top">
                                    <li><a href="all-students">Tất cả học viên</a>
                                    </li>
                                    <li><a href="add-student">Thêm học viên</a>
                                    </li>
                                    <li><a href="point">Điểm</a>
                                    </li>
                                    
                                </ul>
                            </li>
                            
                            
                            
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mobile Menu end -->